<a href="https://colab.research.google.com/github/rebeccalizaverghese/IBM-Data-Science/blob/main/1.2_Python_Basics_Expressions_%26_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Expressions and Variables
**Expressions**: Operations that Python performs.
Eg: Arithmetic Operations (42+33+16+21)

The numbers are called *operands* and the math symbols are called *operators*.

In [4]:
#Addition Operation Expression
43+60+41+20

164

In [5]:
#Subtraction Operation Expression
164-110

54

In [6]:
#Multiplaction Operation Expression
54*5

270

In [9]:
#Division Operation Expression
print(270/2)
print(270/4)

135.0
67.5

In [10]:
# Integer Division Operation Expression
270//4 # double slash (//) is used to round the result to the nearest integer

67

In [15]:
#Operation that calculates how many hours are there in 180 minutes:
total_mins = 180
total_hrs = 180/60
print(total_hrs)
print(type(total_hrs))
print(int(total_hrs), "hours")

3.0
<class 'float'>
3 hours

In [16]:
#Mathimatical Expressions
print(30+3*20) #Python performs the munltiplcation first and adds 30 to the result
print((30+2)*20) #Python prioritises the expressions enclosed in parentheses and then multiplies the result by 20

90
640

In [32]:
print(30+20-40)
print((55-5)/10)
print((6*10)/12)

10
5.0
5.0

**Variables**: allows us to assign values to/ store values in variables and use them later on

In [24]:
x= 33+22+11
print(x)
print(type(x))

66
<class 'int'>

In [25]:
y = x/3 #performing operations on x and saving the result to a new variable
y

22.0

In [26]:
x =x/4 #performing operations on x and saving the result to the existing variable, overwriting the previous value
x

16.5

In [38]:
x=3+2*2 # (2*2)+3
y=(3+2)*2
z=x+y
print("x=",x)
print("y=",y)
print("z=",z)

x= 7
y= 10
z= 17