<a href="https://colab.research.google.com/github/rebeccalizaverghese/IBM-Data-Science/blob/main/1.3_Python_Basics_String_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###String Operations

String is an ordered sequence of characters contained within two single(' ')/double (" ") quotes. It includes spaces, digits or special characters and can be assigned to another variable.

In [4]:
'Hello, All!'

'Hello, All!'

In [5]:
print("Michael Jackson")
print('1 2 3 4 5 6')
print('!@#345^&*_+$%')

Michael Jackson
1 2 3 4 5 6
!@#345^&*_+$%

In [7]:
#Assigning a string to a variable
name = "Michael Jackson"
name

'Michael Jackson'

In [15]:
#Indexing
# A string is an ordered sequence - each element in the sequence can be accessed using an index represented by an array of positive/ negative numbers.
name = "Annabel Jackson"
print(name[0]) #Positive indexing starts at zero, therefore the first index is on the index zero
print(name[8])
print(name[3])
print(name[13])
print(name[-1]) #Negative indexing counts the elements from the end of the string, therefore the last element is given by -1
print(name[-7])
print(name[-15])

A
J
a
o
n
J
A

In [16]:
len(name) #len commands allows us to find the length of the string, i.e., the total number of elements

15

In [18]:
len("Python")

6

In [27]:
#Slicing - it allows us to obtain multiple characters from a string
  #variable[n1:n2] where the first number (n1) means the index (start at n1) and the second number (n2) means the length from the index to the to the last element desired
print(name[0:3]) #from index 0 upto 3 elements
print(name[4:7], name[8:15])

Ann
bel Jackson

In [29]:
#Stride - variable(::n) where the ::n indicates that every nth element is selected
print(name[::2]) # every 2nd value is selected - elements on index 1, 3, 5, 7....
print(name[::3]) # every 3rd value is selected - elements on index 1, 4, 6, 8...

AnblJcsn
Aalas

In [31]:
#incorporating slicing with stride - variable[n1:n2:n] - where every element from n1 to n2 and an interval of n between the elements
print(name[0:5:3])
print(name[8:15:2])

Aa
Jcsn

In [43]:
# Concatenate Strings - we can concatenate or combine strings using the (+) symbols and the result is a new string which is the combination of both
full_name = name[0:3]+name[7:15]
print(full_name)
print(full_name+" is the topper of her class!")

Ann Jackson
Ann Jackson is the topper of her class!

In [49]:
#Replicating values of a string - multiply the variable by the number of times you would like to replicate it with
print(full_name*3)
print(5*name[7:15])
print(2* " Hello")

Ann JacksonAnn JacksonAnn Jackson
 Jackson Jackson Jackson Jackson Jackson
 Hello Hello

In [57]:
#Escape sequences
print("Katie \n is the topper of her class") #(\n) new line - output is given in a new line after the \n is entered
print("Can I order a Pizza \t please") #(\t) tab - provides a tab/ space where the \t is
print("Katie scored \\ the highest.") # (\\) used to provide a backslash in the string
print(r"Katie scored \ the highest") # can provide a backslash in the string by placing a "r" before the string

Katie
 is the topper of her class
Can I order a Pizza 	 please
Katie scored \ the highest.
Katie scored \ the highest

In [71]:
#String Manipulation Operations - operations used to manipulate the data
a = "Comedy is the most preferred genre."
b = a.upper() #converts all characters to upper case
print(b)
c = b.lower() #converts all characters to lower case
print(c)
d = a.replace("Comedy", "RomCom") #replaces one word with another => variable.replace("v1", "v2") - v1: Changed variable || v2: Original Variable
print(d)

COMEDY IS THE MOST PREFERRED GENRE.
comedy is the most preferred genre.
RomCom is the most preferred genre.

In [70]:
print(name.upper())
print(name.lower())
print(full_name.replace("Jackson", "Smith"))

ANNABEL JACKSON
annabel jackson
Ann Smith

In [73]:
# To find substring in a string - variable.find("substring") - returns the index of the first element in sequence
print(full_name.find("Jack")) # full_name = Ann Jackson => "J" is 4th index
print(name.find("bel")) # name = Annabel Jackson => "bel" is 4rd index

4
4

In [75]:
#Split - splits the string at the specified separator and returns a list
n = "Michael Jackson"
split_string = n.split()
print(split_string)
print(full_name.split())

['Michael', 'Jackson']
['Ann', 'Jackson']

In [77]:
#RegEx - Regular Expression - tool for matching and handling strings - provides several functions for working with regular expressions
 #Python provides a built-in module called (re) which allows you to work with regular expressions - this module needs to be imported first
import re

In [78]:
s1 = "Nancy is the best detective in the world"
pattern = r"Nancy" #define the pattern to search for
result = re.search(pattern, s1) #use search() function to search for the pattern in the string

#to check if result was found
if result:
  print("Pattern found!", result)
else:
  print("Pattern not found!")

Pattern found! <re.Match object; span=(0, 5), match='Nancy'>

In [79]:
s1 = "Nancy is the best detective in the world"
pattern = r"Beth"
result = re.search(pattern, s1)

if result:
  print("Pattern found!", result)
else:
  print("Pattern not found!")

Pattern not found!

In [83]:
s2 = "Tailor Swift is the best singer and songer writer in the world!"
# use findall() function to find all occurnances of a particular word/phrase in the string
result = re.findall("in",s2)
print(result)
result1 = re.findall("as",s2)
print(result1)

['in', 'in']
[]

In [87]:
split_array = re.split("\s", s2) #split function is used to split the string by the "\s"
print(split_array) #the split_array contains all the substrings, split by whitespace characters

['Tailor', 'Swift', 'is', 'the', 'best', 'singer', 'and', 'songer', 'writer', 'in', 'the', 'world!']