<a href="https://colab.research.google.com/github/rebeccalizaverghese/IBM-Data-Science/blob/main/2.Python_Data_Structures%3A_Lists_Tuples_Dictionaries_%26_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Data Structures
#####Lists [ ]
Lists are an ordered sequence of different data types (strings, floats, integers) that is represented with square brackets. They are mutable, i.e., the elements within the list can be changed/ replaced/ added on.

In [ ]:
L = ["Michael Jackson", 33.3, 1982]
print(L)
print(type(L))

['Michael Jackson', 33.3, 1982]
<class 'list'>

In [ ]:
#Index - the address of each element within a list is called an index - it is used to access and refer to items within a list
print("the same element using positive and negative indexing:\n Positive (L[0])=", L[0], "\n Negative (L[-3])=", L[-3])
print("the same element using positive and negative indexing:\n Positive (L[1])=", L[1], "\n Negative (L[-2])=", L[-2])
print("the same element using positive and negative indexing:\n Positive (L[2])=", L[2], "\n Negative (L[-1])=", L[-1])

the same element using positive and negative indexing:
 Positive (L[0])= Michael Jackson
 Negative (L[-3])= Michael Jackson
the same element using positive and negative indexing:
 Positive (L[1])= 33.3
 Negative (L[-2])= 33.3
the same element using positive and negative indexing:
 Positive (L[2])= 1982
 Negative (L[-1])= 1982

In [ ]:
#Nested list - we can nest other lists, nest tuples and other data structures within a list
L1 = ["Michael Jackson", 33.3, 1982, [1, 2], ("A", 1)]
L1

['Michael Jackson', 33.3, 1982, [1, 2], ('A', 1)]

In [ ]:
#List Operations:
#Concatenate: - combine or add to list us the (+) symbol
concatenated_L = L + ["MJ", 1]
print("concatenated_L =", concatenated_L)
#Slicing :- to select specific elements within the list
sliced_L1 = concatenated_L[0:3] # when we want first three elements in the list
print("Sliced_L1=", sliced_L1)
sliced_L2 = concatenated_L[3:5] # when we want last two elements in the list
print("Sliced_L2=", sliced_L2)
#Extend: - to add new elements to the list
L.extend(["pop", 10])
print("extended list =", L)
#Append - to add a single new element to the list
L1.append(["pop", 10]) # the two elements are treated as a nested list
print("appended list =", L1)

concatenated_L = ['Michael Jackson', 33.3, 1982, 'MJ', 1]
Sliced_L1= ['Michael Jackson', 33.3, 1982]
Sliced_L2= ['MJ', 1]
extended list = ['Michael Jackson', 33.3, 1982, 'pop', 10]
appended list = ['Michael Jackson', 33.3, 1982, [1, 2], ('A', 1), ['pop', 10]]

In [ ]:
#each time we apply a method, the list changes
list = ["1 year", 365, "twelve months"]
list.extend(["30 days", 4])
print(list)
list.append([7, "24 hours"])
print(list)

['1 year', 365, 'twelve months', '30 days', 4]
['1 year', 365, 'twelve months', '30 days', 4, [7, '24 hours']]

In [ ]:
#since lists are mutable, we can change them
A = ["disco", 10, 1.2]
print("before change", A)
A[1] = 100
print("after change", A)
# we can also delete unwanted indexes
del(A[0])
print("after deleting", A)

before change ['disco', 10, 1.2]
after change ['disco', 100, 1.2]
after deleting [100, 1.2]

In [ ]:
# we can convert a string to a list using split function
"hard rock".split()

['hard', 'rock']

In [ ]:
'A,D,C,D'.split(",") # e can use split function to seperate strings on a specific character called delimiter by passing the character we would like to split on into the arguement. In this code, the delimiter is comma(,)

['A', 'D', 'C', 'D']

In [ ]:
# Aliasing - multiple names referring to the same object is known as aliasing.
  # Copy(copy by reference) list A - since  a and b are referencing the same list, any changes made to A affects the list B
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
print("B[0]:", B[0])
A[0] = "disco"
print("B[0:]", B[0])

B[0]: hard rock
B[0:] disco

In [ ]:
  # Clone (clone by value) List A
  B = A[:]
  B # B is a clone/ new copy of A. Any changes made to A does not affect B and vice versa

['disco', 10, 1.2]

In [ ]:
print("B[0]:", B[0])
A[0] = "hard rock"
print("B[0:]", B[0])

B[0]: disco
B[0:] disco

In [ ]:
a_list = [1, 'hello', [1, 2, 3] , True]
print(a_list)
print(a_list[1])
print(a_list[1:4])

[1, 'hello', [1, 2, 3], True]
hello
['hello', [1, 2, 3], True]

In [ ]:
a = [1, "a"]
b = [2,1,"d"]
a+b

[1, 'a', 2, 1, 'd']

##### Tuple ( )
Tuples are an ordered sequence of different data types that is expressed as comma-seperated elements within parentheses(). Tuples are immutable, i.e, cannot be changed or altered.

In [ ]:
tuple = ("disco", 10, 1.2)
print(tuple)
print(type(tuple))
print(len(tuple))

('disco', 10, 1.2)
<class 'tuple'>
3

In [ ]:
#Indexing
print(tuple[0])
print(tuple[-1])
print(type(tuple[2]))

disco
1.2
<class 'float'>

In [ ]:
#concatenate
tuple1 = tuple + ("rock", 33)
print(tuple1)
print("len:", len(tuple1))

('disco', 10, 1.2, 'rock', 33)
len: 5

In [ ]:
#slicing
print(tuple1[0:3])
print(tuple1[3:5])

('disco', 10, 1.2)
('rock', 33)

In [ ]:
#sorting
Ratings = (0,9,6,5,10,8,9,6,2)
ratings_sorted = sorted(Ratings)
print(ratings_sorted)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
#nested tuple
nested = (1,2, ("Michael Jackson", 1982), (3,4), ("disco", (1,2)))
print(nested)
print(nested[0])
print(nested[1])
print(nested[2])
print(nested[3])
print(nested[4])

(1, 2, ('Michael Jackson', 1982), (3, 4), ('disco', (1, 2)))
1
2
('Michael Jackson', 1982)
(3, 4)
('disco', (1, 2))

In [ ]:
print(nested[2][0])
print(nested[2][0][0])
print(nested[2][0][8])

Michael Jackson
M
J

In [ ]:
print(nested[4][1])
print(nested[4][1][0])

(1, 2)
1

In [ ]:
A=(1,2,3,4,5)
A[1:4]

(2, 3, 4)

####Dictionaries { }
Dictionaries are a type of collection in python. It is made up of keys and values and created using curly brackets{}
* Keys - they are the first element and is similar to the index in a list - keys are immutable and are used to access the values.
* Values - They are similar to the elements in a list - each key is followed by a value seperated by a colon - keys can be immutable, mutable and duplicates.

Each key and value pair are seperated by a comma

In [ ]:
dict = {"key 1": 1, "key 2": "2", "key 3": [3,3,3], "key 4":(4,4,4)}
print(dict)
print(type(dict))

{'key 1': 1, 'key 2': '2', 'key 3': [3, 3, 3], 'key 4': (4, 4, 4)}
<class 'dict'>

In [ ]:
#to access value by key
print(dict["key 1"])
print(dict["key 3"])

1
[3, 3, 3]

In [ ]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
#keys can retrieve the values based on the names:
print(release_year_dict["The Dark Side of the Moon"])
print(release_year_dict["Their Greatest Hits (1971-1975)"])

1973
1976

In [ ]:
# to get all the keys in the dictionary
print(release_year_dict.keys())
# to get all the values in the dictionary
print(release_year_dict.values())

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])
dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
# to add a new value to the dictionary
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [ ]:
# to delete an entry
del(release_year_dict["The Bodyguard"])
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [ ]:
# to varify the key in the dictionary
print("The Bodyguard" in release_year_dict)
print("Thriller" in release_year_dict)

False
True

In [ ]:
album_sales_dict ={"Back in Black": 50, "The Bodyguard": 50, "Thriller": 65}
print(album_sales_dict)
print("Total sales of Thriller =", album_sales_dict["Thriller"])
print("keys: ", album_sales_dict.keys())
print("values: ", album_sales_dict.values())

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}
Total sales of Thriller = 65
keys:  dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])
values:  dict_values([50, 50, 65])

In [ ]:
inventory_dict ={}

In [ ]:
inventory_dict["Product Name"] = "Mobile phone"
inventory_dict["Product Quantity"] = 30
inventory_dict["Product Price"] = 10000
inventory_dict["Product Release Year"] = 2024
print(inventory_dict)

{'Product Name': 'Mobile phone', 'Product Quantity': 30, 'Product Price': 10000, 'Product Release Year': 2024}

In [ ]:
inventory_dict["Product No2"] = "Laptops"
inventory_dict["Product_No2 Quantity"] = 10
inventory_dict["Product_No2 Price"] = 20000
inventory_dict["Product_No2 Release Year"] = 2024
print(inventory_dict)

{'Product Name': 'Mobile phone', 'Product Quantity': 30, 'Product Price': 10000, 'Product Release Year': 2024, 'Product No2': 'Laptops', 'Product_No2 Quantity': 10, 'Product_No2 Price': 20000, 'Product_No2 Release Year': 2024}

In [ ]:
del(inventory_dict["Product Release Year"])
del(inventory_dict["Product_No2 Release Year"])
print(inventory_dict)

{'Product Name': 'Mobile phone', 'Product Quantity': 30, 'Product Price': 10000, 'Product No2': 'Laptops', 'Product_No2 Quantity': 10, 'Product_No2 Price': 20000}

#### Sets { }
Sets are a type of collection in which you can input different python types. Sets are unordered and do not record element position. Sets are defined using curly brackets {}. Python will automatically remove duplicate items:

In [45]:
music_genre_set = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
print(music_genre_set)
print(type(music_genre_set))

{'hard rock', 'pop', 'rock', 'disco', 'R&B', 'soul'}
<class 'set'>

In [54]:
# Set Operations
a = {"Taylor Swift", "Selena Gomez", "Ariana Grande", "Taylor Swift"}
print(a)

{'Taylor Swift', 'Ariana Grande', 'Selena Gomez'}

In [56]:
# To add new element
a.add("Miley Cyrus")
print(a)
a.add("Selena Gomez")
print(a) #does not add duplicates

{'Taylor Swift', 'Ariana Grande', 'Selena Gomez', 'Miley Cyrus'}
{'Taylor Swift', 'Ariana Grande', 'Selena Gomez', 'Miley Cyrus'}

In [57]:
# To remove an element from the set
a.remove("Ariana Grande")
print(a)

{'Taylor Swift', 'Selena Gomez', 'Miley Cyrus'}

In [58]:
# Verifying if the element is in the set
print("Taylor Swift" in a)
print("Dolly Parton" in a)

True
False

In [61]:
# Set Logic Operations
album_set1 = {"Thriller", "Back in Black", "AC/DC"}
album_set2 = {"AC/DC", "Back in Black", "The Dark Side of the Moon"}
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [62]:
# intersection of 2 sets using ampersand(&)
intersection = album_set1 & album_set2
print(intersection)

{'AC/DC', 'Back in Black'}

In [64]:
# to find the difference in sets
print(album_set1.difference(album_set2))
print(album_set2.difference(album_set1))

{'Thriller'}
{'The Dark Side of the Moon'}

In [65]:
# to find the intersection in sets
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [66]:
# to find union in sets
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [76]:
# check if superset/ subset
print(album_set1.issuperset(album_set2))
print(album_set2.issubset(album_set1))
print(intersection.issubset(album_set1))
print(intersection.issubset(album_set2))
print(album_set1.issuperset(intersection))

False
False
True
True
True

In [83]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]). Does sum(A) == sum(B)?
print(a)
print(b)
print("The sum of a is:", sum(a))
print("The sum of b is:", sum(b))
if sum(a) == sum(b):
    print("Yes, it does.")
else:
    print("No, it doesn't")

[1, 2, 2, 1]
{1, 2}
The sum of a is: 6
The sum of b is: 3
No, it doesn't

In [87]:
album_set1 = {"Thriller", 'AC/DC', 'Back in Black'}
album_set2 = {"AC/DC", "Back in Black", "The Dark Side of the Moon"}
album_set3 = album_set1.union(album_set2)
print(album_set3)
print(album_set1.issubset(album_set3))

{'AC/DC', 'Thriller', 'The Dark Side of the Moon', 'Back in Black'}
True