<a href="https://colab.research.google.com/github/rebeccalizaverghese/IBM-Data-Science/blob/main/3.1_Python_Programming_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Programming Fundamentals
#### Conditioning and Branching

##### **Conditioning**
#####Comparison Operators - compares some value or operand and based on a condition, produces a Boolean (True/ False values)

Operators:
* equal (==)
* not equal (!=)
* greater than (>)
* lesser than (<)
* greater than or equal to (>=)
* lesser than or equal to (<=)

In [13]:
a = 30
i = 6
print(a==33)
print (a!=i)
print (40>i)
print (a<35)
print (a>=29)
print (a<=20)
print (i == 5)

False
True
True
True
True
False
False

In [14]:
"Annalise" == "Annabell"

False

In [15]:
"Annet" != "Ann"

True

In [27]:
a = 65
b = 66
c = 78
d = 100

In [28]:
a == b

False

In [29]:
'ab' == 'ba'

False

In [30]:
a*b == b*a

True

##### Branching - allows us to run different statements for different inputs

In [35]:
# if statement - if the statement is true, the program will run some predefined task, if false, the program will ignore the task
age = 22
if (age>=18):
  print("You are eligible to vote")

You are eligible to vote

In [38]:
# else statement - will run a different block of code if the same condition is false. If the condition is true, it will ignore the else command
age = 18
if (age>18):
  print("you can attend the AC/DC concert")
else:
  print ("Go see the Meat Loaf")
print ("Move on")

Go see the Meat Loaf
Move on

In [40]:
# elif statement - short form for else if - allows us to check additional conditions if the preceding condition is false. if the condition for the elif statement is true, the alternate expression will be run
age = 18
if (age>18):
  print ("You can attend AC/DC concert")
elif (age==18):
  print ("Go see Pink Floyd")
else:
  print ("Go see Meat Loaf")
print ("Move on")

Go see Pink Floyd
Move on

In [43]:
album_year = 1983
if (album_year>1980):
  print ("Album year is greater than 1980")
else:
  print ("Album year is less than 1980")

Album year is greater than 1980

In [44]:
album_year = 1979
if (album_year>1980):
  print ("Album year is greater than 1980")
else:
  print ("Album year is less than 1980")

Album year is less than 1980

##### Logical Operators
* Or operator - takes in two boolean values and returns a new boolean value. It only produces a false when all the boolean values are false.
* And Operator - takes in two boolean values and returns a new boolean value. It only produces a true, when all boolean values are true
* Not Operator - if the input is true, it returns a false and vice versa

In [45]:
#Not Operator
not(True)

False

In [47]:
not(False)

True

In [62]:
album_year = 1983
if not(album_year==1984):
  print("Album is not 1984")

Album is not 1984

In [48]:
# And operator
# to open high-security door, an individual requires both a valid ID card and a matching fingerprint.
has_valid_id_card = True
has_matching_fingerprint = True
if has_valid_id_card and has_matching_fingerprint:
  print("Access granted")
  print("High security door opened")
else:
  print("Access denied")
print("High security door closed")

Access granted
High security door opened
High security door closed

In [49]:
has_valid_id_card = False
has_matching_fingerprint = True
if has_valid_id_card and has_matching_fingerprint:
  print("Access granted")
  print("High security door opened")
else:
  print("Access denied")
print("High security door closed")

Access denied
High security door closed

In [60]:
# Or operation
#planning movie night with friends - choose movie that atleast one friend likes.
friend_likes_comedy = False
friend_likes_action = False
friend_likes_romance = True
if friend_likes_comedy or friend_likes_action or friend_likes_romance:
  print("The movie is chosen")
else:
  print("It is undecided")

The movie is chosen

In [61]:
album_year = 1983
if (album_year<1980) or (album_year>1989):
  print ("Album was not made in the 1980s")
else:
  print("Album was made in the 1980s")

Album was made in the 1980s

In [63]:
album_rating = 8.5
if (album_rating>8):
  print("This album is amazing!")

This album is amazing!

In [64]:
album_rating = 6.5
if (album_rating>8):
  print("This album is amazing!")
else:
  print("This album is ok")

This album is ok

In [66]:
album_year = 1979
if (album_year<1980) or (album_year == 1991) or (album_year==1993):
  print("This album came out in", album_year)

This album came out in 1979

In [67]:
age = 21
if (age>18):
  print("You can enter the bar")
elif (age==18):
  print("You can watch a movie")
else:
  print("Sorry, you cannot do either")

You can enter the bar

In [5]:
#Range Function outputs an ordered sequence as a list
range(3)

range(0, 3)

##### **Loops**
Performs a task over and over.
* for loop - enables us to exacute a code block multiple times
* while loop - instead of executing a statement a set number of times, a while loop will only run if a condition is met. If the condition comes back as 'false', the loop is stopped

In [7]:
dates = [2000,2001,2002,2003]
N = len(dates)
for i in range(N): #here (i) stands for index.
  print(dates[i])

2000
2001
2002
2003

In [11]:
print("i[0]",dates[0])
print("i[1]", dates[1])
print("i[2]", dates[2])
print("i[3]", dates[3])

i[0] 2000
i[1] 2001
i[2] 2002
i[3] 2003

In [13]:
for i in range(0,8): #for each index in range, print[index]
  print(i) #i=0 || i+1 => 0+1 = 1 || 1+1 = 2 ||2+1 = 3....

0
1
2
3
4
5
6
7

In [1]:
for x in ['A', 'B', 'C']:
    print(x + 'A')

AA
BA
CA

In [2]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, x)

0 A
1 B
2 C

In [14]:
# using loop to change elements in list
squares = ["red", "yellow", "green", "purple", "blue"]

for i in range(0,5):
  print("Before square", i, "is", squares[i])
  squares[i] = "white"
  print("After square", i, "is", squares[i])

Before square 0 is red
After square 0 is white
Before square 1 is yellow
After square 1 is white
Before square 2 is green
After square 2 is white
Before square 3 is purple
After square 3 is white
Before square 4 is blue
After square 4 is white

In [15]:
# looping through list and iterate on both index and element value
squares = ["red", "yellow", "green", "purple", "blue"]
for i, square in enumerate(squares):
  print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [18]:
# while loop - The code block will keep being executed until the given logical condition returns a False boolean value.
count = 1
while count <= 5:
  print(count)
  count = count+1

1
2
3
4
5

In [24]:
dates = [2000,2001,2002,2003]

i = 0
year = dates[0]

while (year != 2002):
  print (year)
  i = i+1
  year = dates[i]
print("It took", i, "repetitions to get out of loop")

2000
2001
It took 2 repetitions to get out of loop

In [27]:
for i in range(-4,5):
  print(i)

-4
-3
-2
-1
0
1
2
3
4

In [30]:
genres = ["rock", "R&B", "soundtrack", "R&B", "soul", "pop"]
for i in range(0,6):
  print(genres[i])
  i = i+1

rock
R&B
soundtrack
R&B
soul
pop

In [33]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
  print(square)

red
yellow
green
purple
blue

In [47]:
playlistratings = [10,9.5,10,8,7.5,5,10,10]
i=0
ratings = playlistratings[0]
while (ratings >= 6):
  print(ratings)
  i=i+1
  ratings = playlistratings[i]

10
9.5
10
8
7.5

In [55]:
squares = ['orange', 'orange', 'orange', 'blue ', 'orange']
new_squares = []
i = 0

while(squares[i] == 'orange'):
  new_squares.append(squares[i])
  i=i+1
print(new_squares)
print("The loop ends after", i, "times")

['orange', 'orange', 'orange']
The loop ends after 3 times

In [57]:
print("multiplication tables of 6")
for i in range(0,11):
  print("6*",i,"=",6*i)
  i=i+1

multiplication tables of 6
6* 0 = 0
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60

In [58]:
print("multiplication tables of 7")
for i in range(0,11):
  print("*7",i,"=",7*i)
  i=i+1

multiplication tables of 7
*7 0 = 0
*7 1 = 7
*7 2 = 14
*7 3 = 21
*7 4 = 28
*7 5 = 35
*7 6 = 42
*7 7 = 49
*7 8 = 56
*7 9 = 63
*7 10 = 70

In [60]:
animals = ['lion', 'giraffe', 'gorilla', 'parrots', 'crocodile', 'deer', 'swan']
new = []
i = 0
while i<len(animals):
  j = animals[i]
  if (len(j) ==7):
    new.append(j)
  i=i+1
print(new)

['giraffe', 'gorilla', 'parrots']