<a href="https://colab.research.google.com/github/rebeccalizaverghese/IBM-Data-Science/blob/main/3.2_Python_Programming_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### **Functions**
Functions take some input and then produce some output/ change. It is a reusable block of code which performs operations specified in the function.

Types:
* Pre-defined Functions
* User-defined Functions

Rules:
* Function blocks begin with *def* followed by the function *name* and parantheses *( )*
* There are input parameters/ arguements that are placed within these parentheses
* You can also define these parameters inside these parentheses
* There is a body within every function that starts with a colon (:) and is indented.
* You can also place documentation before the body.
* The statement *return* exits a function, optionally passing back a value.

Pre-defined Functions:
1. print( )
2. sum( )
3. len( )
4. sorted( )

In [ ]:
ratings = [10.0, 8.5, 9.0, 9.5, 9.5]
print(ratings) # Print function
print(len(ratings)) # Len function
print(sorted(ratings)) # sorted function creates a new list and therefore does not affect the existing list
print(ratings)

[10.0, 8.5, 9.0, 9.5, 9.5]
5
[8.5, 9.0, 9.5, 9.5, 10.0]
[10.0, 8.5, 9.0, 9.5, 9.5]

In [ ]:
# Sort method sorts the elements in the existing list
ratings.sort()
print(ratings)

[8.5, 9.0, 9.5, 9.5, 10.0]

In [ ]:
#Function to add 1 to a and store as b
def Add(a):
  """
  add 1 to a
  """
  b = a+1
  print(a, "+ 1 =", b)
  return(b)

Add(3)

3 + 1 = 4

4

In [ ]:
#get help on add function
help(Add)

Help on function Add in module __main__:

Add(a)
    add 1 to a

In [ ]:
Add(10)

10 + 1 = 11

11

In [ ]:
# defining function for multiplcation of two numbers
def mult(a,b):
  c = a*b
  return(c) # function terminates at the return statement
  print("This is not printed") # therefoe, anything after 'return' is not printed

result = mult(12,2)
print(result)

24

In [ ]:
mult(3,11) #when 2 integer values are multiplied, it returns an integer

33

In [ ]:
mult(10.0, 3.14) #when 2 float values are multiplied, it returns a float

31.400000000000002

In [ ]:
mult(10,3.41) #when an integer is multiplied with a float, it returns a float

34.1

In [ ]:
mult(3," Sally") #when a integer is multiplied with a string, the string repeats by that many times

' Sally Sally Sally'

In [ ]:
#The input in a function is called a formal parameter
# The variable that is declared inside a function is called a local variable - it only exists within the function
# The variable that is declared outside a function is called global variable, it's value is accessable and modifiable throughout the program

def square(a):
  b = 1 # local variable b
  c = a*a+b
  print("if you square",a, "and add 1, it gives:", c)
  return(c)

In [ ]:
square(1)

if you square 1 and add 1, it gives: 2

2

In [ ]:
# Initializing global variable
x = 3
#make function call and return function a y
y = square(x)
y

if you square 3 and add 1, it gives: 10

10

In [ ]:
square(2)

if you square 2 and add 1, it gives: 5

5

In [ ]:
# if there is no return statement, the function returns "none"
def MJ():
  print("Michael Jackson")

def MJ1():
  print("Michael Jackson")
  return(None)

In [ ]:
MJ()
print(MJ())

Michael Jackson
Michael Jackson
None

In [ ]:
MJ1()
print(MJ1())

Michael Jackson
Michael Jackson
None

In [ ]:
# function that concatenates two strings using the addition opperation
def con(x,y):
  z=x+y
  print("Concatenation of", x, "and", y, "=", z)
  return(z)

In [ ]:
con("Katie"," James")

Concatenation of Katie and  James = Katie James

'Katie James'

In [ ]:
#or

def con(a, b):
    return(a + b)

con("Hi", " There!")

'Hi There!'

In [ ]:
a = 4
b = 5
c = a+b+2*a*b-1
print(c)
if (c<0):
  c=0
else:
  c=5
c

48

5

In [ ]:
a1 =0
b1 =0
c1 = a1+b1+2*a1*b1-1
print(c1)
if (c1<0):
  print("True")
else:
  print("False")

-1
True

In [ ]:
#Using function for above calculation
def equation(a,b):
  c=a+b+2*a*b-1
  print(c)
  if (c<0):
    c=0
  else:
    c=5
  return(c)

In [ ]:
a = 4
b = 5
c = equation(a,b)
c

48

5

In [ ]:
a1 = 0
b1 = 0
c1 = equation(a1,b1)
c1

-1

0

In [ ]:
def type_of_album(artist, album, year_released):
  print(artist, album, year_released)
  if year_released > 1980:
    return "Modern"
  else:
    return "Oldie"

type_of_album("Michael Jackson", "Thriller", 1980)

Michael Jackson Thriller 1980

'Oldie'

In [ ]:
def print_list(list):
  for element in list:
    print(element)

print_list(['1', 1, 'the man', 'abc'])

1
1
the man
abc

In [ ]:
string = "Michael Jackson is the best"
def check_string(text):
  if text in string:
    return 'String matched'
  else:
    return 'String not matched'

check_string("Michael Jackson is the best")

'String matched'

In [ ]:
check_string("Sally Jackson is the best")

'String not matched'

In [ ]:
# example of global variable
artist = "Michael Jackson"
def printer1(artist):
  internal_var1 = artist
  print(artist, "is an artist")

printer1(artist)

Michael Jackson is an artist

In [ ]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist)
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [ ]:
myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [ ]:
list = ["1", 1, 3, 'Sally', 33.3]
list1 = ["James", 12.4, "12"]
def con1(a,b):
   return a+b

con1(list, list1)

['1', 1, 3, 'Sally', 33.3, 'James', 12.4, '12']

##### **Exception Handling**
Exception - is an error that occurs during the execution of code - it causes the code to raise an exception and if not prepared to handle it will halt the execution of the code.

In [ ]:
#ZeroDivisionError - occors when you try to divide by zero
1/0

ZeroDivisionError: division by zero

In [ ]:
#NameError - means that you tried to use a variable that hasn't been defined
y = a + 5

NameError: name 'a' is not defined

In [ ]:
#IndexError - occurs because you try to access data from a list using index that does not exist for the list
a = [1,2,3]
a[5]

IndexError: list index out of range

Exception Handling using **Try... Except** - allows to execute code that might raise an exception and in case of a specific/ any exception, python can hand or catch the exception and execute the code which allows us to continue the execution of our program even when there is an exception.

In [ ]:
a = 1
try:
  b = int(input("Please enter a number to divide a"))
  a = a/b
  print("Success, a=", a)
except:
  print("There was an error")

Please enter a number to divide a2
Success, a= 0.5

In [ ]:
a = 1
try:
  b = int(input("Please enter a number to divide a"))
  a = a/b
  print("Success, a=", a)
except:
  print("There was an error")

Please enter a number to divide ab
There was an error

In [ ]:
a = 1
try:
  b = int(input("Please enter a number to divide a by: "))
  a = a/b
  print("Success, a=", a)
except ZeroDivisionError:
  print("The number provided cannot be divided because it is 0")
except ValueError:
  print("You did not provide a number")
except:
  print("Something went wrong")

Please enter a number to divide a by: Sally
You did not provide a number

In [ ]:
a = 1
try:
  b = int(input("Please enter a number to divide a by: "))
  a = a/b
except ZeroDivisionError:
  print("The number provided cannot be divided because it is 0")
except ValueError:
  print("You did not provide a number")
except:
  print("Something went wrong")
else:
  print("Success, a= ", a)

Please enter a number to divide a by: 10
Success, a=  0.1

In [ ]:
a = 1
try:
  b = int(input("Please enter a number to divide a by: "))
  a = a/b
except ZeroDivisionError:
  print("The number provided cannot be divided because it is 0")
except ValueError:
  print("You did not provide a number")
except:
  print("Something went wrong")
else:
  print("Success, a=", a)
finally:
  print("Processing completed")

Please enter a number to divide a by: !
You did not provide a number
Processing completed

In [ ]:
def safe_divide(num,den):
  try:
    a= num/den
    print("Numerator", num, "divided by Denominator", den, "= ", a)
    return a
  except ZeroDivisionError:
    print("Error: Cannot divide by Zero")
    return None

In [ ]:
safe_divide(3,0)

Error: Cannot divide by Zero

In [ ]:
safe_divide(30,3)

Numerator 30 divided by Denominator 3 =  10.0

10.0

In [ ]:
import math
def calc(x):
  try:
    s = math.sqrt(x)
    print("Square root of ",x, "=", s)
    return s
  except ValueError:
    print('Invalid input! Please enter a positive integer or a float value')
    return None

In [ ]:
calc(9)

Square root of  9 = 3.0

3.0

In [ ]:
calc(-3)

Invalid input! Please enter a positive integer or a float value

In [ ]:
def math(num):
  try:
    result = num/(num-5)
    print("The result is: ", result)
  except Exception as e:
    print("An error occurred during calculation")

user_input = float(input("Enter a number: "))
math(user_input)

Enter a number: 10
The result is:  2.0

In [ ]:
math("A")

An error occurred during calculation